.hero {
    .container {
        background-image: url("../imges/Bitmap.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 1280px;
        height: 650px;
        margin-top: 60px;
    }

    &__heading {
        color: #FEFCF7;
        font-family: "Barlow";
        font-size: 40px;
        font-weight: 900;
        margin-top: 137px;
        margin-left: 85px;
        display: inline-block;
    }

    &__text {
        width: 445px;
        color: #FEFCF7;
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        margin-left: 85px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .hero .container {
    background-image: url("../imges/Bitmap@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1280px;
    height: 650px;
    margin-top: 60px;
  }
}